// Code SCSS du footer
footer {
    @include mt(4rem);
    padding: 50px;
    background-color: $theme;
    content: thewallstreet(11, 6);
    @include border-radius(20px);

    span {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}