// Code SCSS du header
header {
    padding: 20px;
    // background-color: $theme;

    #logo,
    #slogan {
        @include mt(1rem);
        color: white;
        text-decoration: line-through;
    }

    #logo {
        width: 135px;
    }

    #slogan {
        width: 150px;
    }

    // Bloc de propriétés à appeler (héritage)
    %alert {
        padding: 15px;
        border: 1px solid black;
        color: white;
        text-align: center;
        @include border-radius(10px);
    }

    .alert-green {
        // Récupération d'un bloc de propriétés
        @extend %alert;
        background-color: green;
    }

    .alert-red {
        @extend %alert;
        background-color: red;
    }
}