// Mes variables SASS
$primaryColor: darkblue;
$secondaryColor: darkred;

// Définir une directive thème couleur à répéter
$theme: crimson;
$colour: white; // "" string pour une valeur/variable vide

// Mes héritages
%colour {
    @if ($colour==purple) {
        color: purple;
        background-color: white;
    }

    // Si mon fond est en blanc envoyé celui en noir
    @else if($colour==white) {
        color: white;
        background-color: black;
    }

    @else {
        color: black;
        background-color: white;
    }
}

// Mes mixins
// Mixin de recentrage
@mixin center {
    margin-left: auto;
    margin-right: auto;
}

// Gestion de la marge du haut
@mixin mt($number) {
    margin-top: $number;
}

// Mixin d'arrondissement des bords
@mixin border-radius($degrees) {
    border-radius: $degrees;
}

// Mixin globale pour la police d'écriture unique
@mixin googleFonts($font) {
    @import url('https://fonts.googleapis.com/css2?family=#{font}'); // Roboto -> effacer le lien après le égal
}

// Mes fonctions
@function thewallstreet($nombreA, $nombreB) {
    @return $nombreA / $nombreB+$nombreA * ($nombreB - $nombreA);
}

// Importations des sous fichiers dans default.scss
@import 'header';
@import 'footer';

// Mon code SCSS imbriqué
body {
    // Background
    @extend %colour;
    // Fonts
    @include googleFonts(Roboto);
    // Mise à 0 des marges
    margin: 0;
    // Fond complet
    // background-color: lightgray;
    // padding: length(15px 10px); // Fonction native affichant 2, la moyenne des éléments

    div.center {
        text-align: center;
        justify-content: center;
    }

    div.center h1 {
        @include mt(2em);
        font-size: 28px;
        background-color: $secondaryColor;
    }

    div.center p {
        font-size: 24px;
    }

    section .grid {
        @include border-radius(10px);
        @include mt(1rem);
        @include center;
        background-color: $primaryColor;
        border-right: 5px solid white;
        align-items: center;
        border-radius: 10px;
        text-align: center;

        // Boucle de 6 grilles
        @for $i from 1 through 6 {
            width: 100px*$i;
            height: 10px*$i;
        }
    }
}